{{page-title "Categories"}}
<LinkTo class=" btn btn primary"
        @route="categories.add">Ajouter une entreprise
</LinkTo>
<ul>
  {{#each @model as |category|}}
    <li>{{category.name}}</li>
  {{/each}}
</ul>

<BsNav @type="tabs" as |nav|>
  {{#each @model as |category|}}
    <nav.item>
      <nav.linkto @route="categories.contacts" @model={{category}}>
      {{category.nom}}
      </nav.linkto>
    </nav.item>
  {{/each}}
</BsNav>
{{outlet}}