{{page-title "Contacts"}}
<ul>
  {{#each @model as |contact | }}
    <li>{{contact.name}}
      <button type="button" {{action "delete" contact}}>Del FDP</button>
    </li>

  {{/each}}
</ul>
<Input @value= {{this.name}}/>
<button type="button" {{action "add" this.name}}> Ajouter </button>
{{#if @model.deleteCount}}
  <button type="button">Annuler ({{@model.deleteCount}})</button>
{{/if}}
{{outlet}}